@media (min-width: 992px) {.desktop-navigation {position:relative

} .not-desktop {display:none}} 
@media (min-width: 1430px) {.container-max {max-width: 1430px;}} 
@media (min-width: 1920px) {.container-max {max-width: 1680px;}}

.bg-header-special {
    background-color:#802331 !important;
    }
    
.logo-special {
    width: 320px;
    height: 64px;
}
    
.logo-special {
    max-width: 100%;
    height: auto;
}
    
.navbar-brand img {
    max-height: 4rem !important;
}
    
.mainmenu {
    justify-content: space-between !important;
}

.bg-menu-special {
    background-color:#eaeaea !important;
}
    
.menu-special {background-color:#fff}
    
.main-navbar-collapsable .mainmenu>li>a {color:#b43c3e;background-color:#f0f0f0;
    padding: 0.5rem !important;
}
.main-navbar-collapsable .mainmenu>li>a:hover {color:#0044cc;background-color:#fff}
    
.breadcrumbs, .breadcrumb {
    background-color:#fff !important;
}
    
.mobile-navigation .breadcrumb {
    font-size: .8em;
    background: #212529 !important;
}
    
.custom-select {
font-size:12px !important;
}

.footer>.container-max {
    max-width: 1370px;
}

.back-to-top {
    margin-bottom: 2.5rem !important;
}

.back-to-top2 {
    margin-bottom: 2rem !important;
}


.footer {
    background-color: #fff;
}

.mwst-blende {
    position: fixed;
    bottom: 0;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 4px 0;
    width: 100%;
    height: 30px;
    line-height: 24px;
    font-size: 12px
}

.mwst-blende a {
    color: #d1cfe8 !important;
}

.mwst-blende > a:hover {color:#b0add7 !important}

.cmpboxrecall {bottom:2px !important}

.top-bar {background-color:#441410 !important}

.list-controls-inner {background-color:#efefef !important}

.list-controls-inner > div {padding: .25rem !important; }
