{% macro get_nav_bar(categories, currentScopeUrl, megaMenuLevels, maxItemsPerStage) %}
    {% import _self as navbar %}{% set counter = 0 %}{% set megaMenuLevels = megaMenuLevels | default(1) %}

    {% for category in categories %}
        {% if urls.includeLanguage %}
            {% set currentScopeUrl = "/" ~ category.details[0].lang ~  "/" ~ category.details[0].nameUrl %}
        {% else %}
            {% set currentScopeUrl = "/" ~ category.details[0].nameUrl %}
        {% endif %}

        <li class="rounded-top border border-bottom-0">
            <a class="px-2 menu-special" href="{{ currentScopeUrl }}{{ urls.trailingSlashSuffix }}">{{ category.details[0].name }}</a>
        </li>
    {% endfor %}

{% endmacro %}
