<div class="desktopmenu"></div>
<lazy-hydrate when-idle>
    <mobile-navigation :initial-category="{{ initialCategory | json_encode }}" :include-language="{{ urls.includeLanguage | json_encode }}"></mobile-navigation>
</lazy-hydrate>

<script2>
const DeskMenu = document.querySelector('.desktopmenu');
if (DeskMenu === document.activeElement) {
    document.querySelector(".mobile-navigation").classList.add("open");
    document.querySelector("body").classList.add("menu-is-visible");
    console.log('Desktop Menü sichtbar');
} else {
    console.log('Desktop Menü nicht sichtbar');
}
</script2>
