<div class="desktop-menu">
    <lazy-hydrate when-idle>
        <mobile-navigation :initial-category="{{ initialCategory | json_encode }}" :include-language="{{ urls.includeLanguage | json_encode }}"></mobile-navigation>
    </lazy-hydrate>
</div>

<script2>
if (document.documentElement.clientWidth > 992) {
      document.querySelector(".mobile-navigation").classList.add("open");
      document.querySelector("body").classList.add("menu-is-visible");
   }
   else {
      document.querySelector(".mobile-navigation").classList.remove("open");
      document.querySelector("body").classList.remove("menu-is-visible");
   }
</script2>
