<div class="desktop-menu">
    {% if category.linklist == "Y" %}
        {% set initialCategory = { id: category.id } %}
    {% else %}
        {% set initialCategory = category %}
    {% endif %}
    {% if services.template.isItem() == "1" and defaultCategory is not null %}
        {% set initialCategory = defaultCategory %}
    {% elseif services.template.isCurrentTemplate('tpl.home.category') %}
        {% set initialCategory = null %}
    {% endif %}
    <lazy-hydrate when-idle>
        <mobile-navigation :initial-category="{{ initialCategory | json_encode }}" :include-language="{{ urls.includeLanguage | json_encode }}"></mobile-navigation>
    </lazy-hydrate>
</div>
